.group-hands {
    width: 47%;
    height: 80vh;
    z-index: 0;
    margin: 10em 12em;
    position: relative; 
    bottom:4em;
    opacity: 0; /* Initially set opacity to 0 for animation */
    animation: fadeRight 3s ease-in-out forwards;
}
@keyframes fadeRight {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.hero-text {
    text-align: center;
    position: absolute;
    width: 40%;
    top: 54%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    opacity: 1;
    animation: fadeLeft 4s ease-in-out backwards;
}
@keyframes fadeLeft {
    from {
        opacity: 0;
        transform: translateX(-50%) translateZ(43px);
    }
    to {
        opacity: 1;
        transform: translateX(-50%) translateZ(0);
    }
}

.motivation{
    letter-spacing: -0.025em;
    font-size: 26px;
    line-height: 1.07692;
    font-weight: 800;
    position: relative;
    color: white;
    background-color: #077BC1;
    float: right;
    padding: 2em;
    text-align: center;
    width: 36%;
    margin: -42em 15em;
    z-index: 1;

}

.sub-navb {
    color: rgb(62, 61, 61);
    display: inline-block;
    position: absolute; 
    height: 3%; 
    top: 11em;              
    left: 11.2em;             
    background: white; 
    z-index: 10;         
}
.sub-navb a {
    color: rgb(62, 61, 61);
    text-decoration: none ; 
}

.sub-navb ul {
    list-style: none;   
    padding: 0;         
    margin: 0;          
}

.sub-navb li {
    display: inline-block;
    padding: 0.4em;
    color: rgb(62, 61, 61);
    border: none !important;

    
}
.sub-navb li:first-child::after {
    content: ' / ';
    padding-left: 0.4em; 
   
}
/*short courses info*/
.short-courses{
    font-size: 1.3em;
    line-height: 1.375;
    width: 100%;
    max-width: 46em;
    padding: 2em;
    float: right;
    margin: -44em 7em 1em;
}
.links{
    display: block;
    font-size: 26px;
    text-decoration: none;
    list-style: none;
    line-height: 1.9;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    color: #077BC1;
}
.links a {
    cursor: pointer;
    color: #077BC1; 
    text-decoration: none; 
    border-bottom: 2px dotted transparent !important; 
    transition: border-color 0.3s;
}

.links a:hover {
    color: black;
    
}
li:not(:first-child) {
    border-top: 2px dashed #999;
}

li:last-child {
    border-bottom: 2px dashed #999;
}
