.what-to-expect {
    display: flex;
    font-family: Nexa, 'Helvetica Neue', Helvetica, sans-serif;
    max-width: 70em;
    margin: 2em 12em;
    font-size: 2em;
    line-height: 1.3;
    color: #6D6D6D;
    display: block;
    position: relative;
}

.what-to-expect ul {
    border: none !important;
    list-style: none;
    position: relative;
    padding-left: 2em;
}

.what-to-expect li {
    position: relative;
    border: none !important;
    line-height: 2;
}

.what-to-expect li::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 27px;
    left: -1em;
    background-color: #0098CD;
    border-radius: 999px;
    
}
.slider {
    position: relative;
    max-width: 129em;
    height: 44em;
    margin: 46px auto;
    overflow: hidden;
    z-index: 1;

  }
  
  .slider-controls {
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 200px;
    text-align: center;
    transform: translatex(-50%);
    z-index: 1000;
  
    list-style: none;
    text-align: center;
  }
  
  .slider input[type="radio"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider-controls label {
    display: inline-block;
    justify-content: space-between;
    margin-right: 0.5em; 
    border: none;
    height: 2.2px;
    width: 34px;
    border-radius: 1%;
    cursor: pointer;
    background-color: #070606;
    transition: background-color 0.2s linear;
  }
  
  #btn-1:checked ~ .slider-controls label[for="btn-1"] {
    background-color:#0098CD;
    
  }
  
  #btn-2:checked ~ .slider-controls label[for="btn-2"] {
    background-color: #0098CD;
  }
  
  #btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background-color: #0098CD;
  }
  #btn-4:checked ~ .slider-controls label[for="btn-4"] {
    background-color: #0098CD;
  }
  
  /* SLIDES */
.slides {
    list-style: none;
    display: grid;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 80%;
    background-color: #FAFAFA;
    
  }
  
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    border: none !important;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translatex(-100%);
    transition: transform 250ms linear;
  }
  .carousel-control-prev,
  .carousel-control-next {
      position: absolute;
      top: 53px; 
      z-index: 20;
      color: black; 
      background: none; 
      border: none;
      font-size: 3.4em; 
      line-height: 30px;
  }
  
  .carousel-control-prev {
      left: -113px;
      bottom: 33em;
      color: black; 
      
  }
  
  .carousel-control-next {
      left: -70px;
      bottom: 33em;
      color: black; 
  }
  
  .carousel-control-prev:hover,
  .carousel-control-next:hover {
      color: #0098CD;
  }
  
  
  .slider-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.slider-nav button {
    background: rgba(255, 255, 255, 0.5);
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px 20px;
}

  .slide-content {
    width: 400px;
    color: #504b4b !important;
  }
  
  .slide-title {
    margin-top: 120px;
    font-size: 36px;
    width: 30em;
    font-weight: bolder;
  }
  
  .slide-text {
    margin-top: 2em;
    width: 30em;
    font-size: 1.7em;
  }
  
  .slide-links {
    display: inline-block;
    font-size: 1.8em;
    width: 60%;
    text-align: center;
    margin-top: 1em;
    /* webkit-transition: background-color, 0.18s; */
    -moz-transition: background-color, 0.18s;
    transition: background-color, 0.18s;
    background-color: #000000;
    color: #fff;
    padding: 10px 16px;
    display: inline-block;
    cursor: pointer;
  }
  .slide-links:hover{
    background-color: #0098CD !important;
    color: white !important;
    text-decoration: none;
  }
  
  .slide-image img {
    max-width: 100%;
    width: 55em;
    height: 50em;
    /* padding: 2em; */
    top:3em;
    /* box-shadow: 0 2px 25px 11px rgb(158, 156, 156); */
    
  }

  
  /* Slide animations for each button */
  #btn-0:checked ~ .slides .slide:nth-child(1),
  #btn-1:checked ~ .slides .slide:nth-child(2),
  #btn-2:checked ~ .slides .slide:nth-child(3),
  #btn-3:checked ~ .slides .slide:nth-child(4) {
    transform: translatex(0);
    opacity: 1;
  }
  
  #btn-0:not(:checked) ~ .slides .slide:nth-child(1),
  #btn-1:not(:checked) ~ .slides .slide:nth-child(2),
  #btn-2:not(:checked) ~ .slides .slide:nth-child(3),
  #btn-3:not(:checked) ~ .slides .slide:nth-child(4) {
    animation-name: swap-out;
    animation-duration: 300ms;
    animation-timing-function: linear;
  }
  
  @keyframes swap-out {
    0% {
      transform: translatex(0);
      opacity: 1;
    }
  
    50% {
      transform: translatex(50%);
      opacity: 0;
    }
  
    100% {
      transform: translatex(100%);
    }
  }

  
  .aside-list li a  {
    text-decoration: none;
    padding: 0;
    display: inline;
    position: relative;
    color:#0098CD !important;
    width: 100%;          
    margin: 10em  10em 0 5em;       
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.5;
   
}
.aside-list a::before {
  content: '';
  display: inline;
  height: 1em; 
}

.aside-list a:hover {
    color:#504b4b !important;
}

.aside-list ul.aside-li {
    list-style-type: disc;
    margin-top: 4em;
    
}

.aside-list li {
  display: inline;
  padding: 10px 20px 5px 0;      
  margin-bottom: 3em;  
  text-transform: uppercase;
  border-top: none;
  border-bottom: none;
  
}
.last{
  font-size: 2em;
  line-height: 2;
  margin: 10em 5em 0 4em;
}
.end {
  margin: 4em 9em;
  font-size: 1em;
  padding: 0;
  text-decoration: none;
}
.web{
  text-decoration: none;
  color: #0098CD;
}
.web:hover{
  color: #504b4b;
}