@media screen and (min-width: 992px) {
    /* Header */
.header-area {
    position: fixed;
    top: 0;
    background-color: white;
    background: transparent;
    width: 100vw;
    z-index: 1000; 
}

.logoBSU {
    width: 5vw;
    margin-left: 0.1em;
    position: absolute;
    display: block;
    top: 0.5em; 
    left: 1em; 
    z-index: 1001;
}

.header-area .bi-search {
    margin: 1em 75em;
    width: 17em;
    height: 2em;
    z-index: 20;
    display: block;
    position: absolute;
    background: transparent;
    
}

.header-area .top {
    margin: -1em -6em;
    position: absolute;
    z-index: 1001; 
}
    /* Navbar */
    .offcanvas {
        width: 50% !important;
        background-color: white;
        z-index: 11;
    }
    .bar1, .bar2, .bar3{
        display: none;
    }
    .navbar-menu li{
        font-size: 1.3em;
    }
    .close-title{
        font-size: 0.7em;
    }
    .footer-main li {
        border-bottom: none;
        border-top: none;
        padding: -1em;
        font-size: 0.8em;
        letter-spacing: 0;
        font-weight: bold;
        width: 20vw;
        margin: 0 7em;
    }
      .policies li{
        width: 18vw;
      }

    /* Hero */
    .group-hands {
        margin: 10em 4em;
        width: 48vw;
    }
    .hero-text {
        margin: 0 0.3em;
        width: 41vw;
    }
    .motivation {
        margin: -33em 6em;
        width: 45vw;
        height: 17vh;
        padding: 0.7em;
    }
    .sub-navb{
        margin: -2.7em -7.3em;
        height: 2em;
    }
    .short-courses {
        max-width: 40vw;
        margin: -39em 9em;
        font-size: 1.1em;
        
    }
    .links {
        font-size: 0.9em;
    }

    /* MainContent */
    .what-to-expect {
        width: 87%;
        display: block;
        font-size: 1.3em;
        margin: 0 5em;
    }
    .slider {
        width: calc(80% - 1em);
        margin: 0 8em;
        font-size: 0.7em;
        z-index: 10;
    }
    .slide-title {
        font-size: 1.8em;
        margin-top: 8em;
    }
    .slide-text {
        font-size: 1.2em;
        margin-left: 1em;
    }
    .slide-image img {
        margin: -2em -2em;
        float: right;
        width: 60em;
        height: 50em;
        z-index: 150;
        position:relative;
    }
    .slide-links {
        text-decoration: none;
        width: 40%;
        font-size: 1em;
        margin-left: 1em;
    }
    .carousel-control-prev,
    .carousel-control-next {
        margin: -2em 2em;
    }

    /* StudentsReviews */
    .reviews {
        width: 11em;
        height: 4em;
        margin: 1em 6em;
        padding: 0.2em;
        font-size: 1.2em;
    }
    .card-group {
        background-color: rgb(249, 247, 244);
        box-shadow: none;
        margin-left: 5.3em;
        width: 82%;
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        grid-gap: 8em;
        padding: 3em;
        justify-items: center;
        align-items: center;
    }
    .images {
        width: 11em;
        height: 11em;
    }
    .card {
        background: none;
        border: none;
        width: auto;
        height: auto;
    }
    .content {
        font-size: 0.7em;
        width: 15em;
        margin-top: -3em;
    }
    .title {
        margin-bottom: -2em;
        z-index: 10;
        font-weight: bolder;
        font-size: 0.7em;
        padding: 2.4em;
    }
    .aside-list li a {
        display: inline;
        margin: 0 auto;
        font-size: 0.9em;
        padding: 0;
        border-bottom: none;
    }
    .last {
        font-size: 1.4em;
        margin: 4em 3em;
    }
   
    .end {
        font-size: 0.7em;
        margin-left: 7em;
    }
}

